.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 30px 0;
  }
  
  .pagination-btn {
    padding: 8px 16px;
    background-color: transparent;
    border: 1px solid #66fcf1;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .pagination-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .pagination-page {
    padding: 8px 16px;
    background-color: transparent;
    border: 1px solid #66fcf1;
    color: #66fcf1;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .pagination-page.active {
    background-color: #66fcf1;
    color: white;
  }
  
  .pagination-page:hover:not(.active),
  .pagination-btn:hover {
    background-color: #333;
    color: white;
  }